USE [QL_CuaHang_PS03158]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 2/28/2016 1:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[NgayXuatHD] [datetime] NOT NULL,
	[Gia] [int] NOT NULL,
 CONSTRAINT [HOADON_pk] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 2/28/2016 1:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[SDT] [int] NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
 CONSTRAINT [KHACHHANG_pk] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 2/28/2016 1:36:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](30) NOT NULL,
	[NgaySX] [datetime] NOT NULL,
	[HangSX] [varchar](15) NOT NULL,
 CONSTRAINT [SANPHAM_pk] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaSP], [NgayXuatHD], [Gia]) VALUES (N'D001', N'PS03157', N'LTHP', CAST(N'2012-03-15 00:00:00.000' AS DateTime), 15000000)
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaSP], [NgayXuatHD], [Gia]) VALUES (N'D002', N'PS03158', N'LTTO', CAST(N'2012-04-15 00:00:00.000' AS DateTime), 16000000)
INSERT [dbo].[HOADON] ([MaHD], [MaKH], [MaSP], [NgayXuatHD], [Gia]) VALUES (N'D003', N'PS03163', N'LTLN', CAST(N'2012-05-15 00:00:00.000' AS DateTime), 17000000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Email], [SDT], [DiaChi]) VALUES (N'PS03157', N'Trần Nhật Quang', N'quangtnps03157@fpt.edu.vn', 123456789, N'Quận 10, TP.HCM')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Email], [SDT], [DiaChi]) VALUES (N'PS03158', N'Trương Duy Ngữ', N'ngutdps03158@fpt.edu.vn', 1682894507, N'Quận 10, TP.HCM')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [Email], [SDT], [DiaChi]) VALUES (N'PS03163', N'Nguyễn Trung Nghĩa', N'nghiantps03163@fpt.edu.vn', 123456712, N'Quận 8, TP.HCM')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [NgaySX], [HangSX]) VALUES (N'LTAC', N'Acer E5-573-35YX', CAST(N'2012-02-03 00:00:00.000' AS DateTime), N'Acer')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [NgaySX], [HangSX]) VALUES (N'LTAS', N'Asus GL552JX', CAST(N'2012-02-03 00:00:00.000' AS DateTime), N'Asus')
INSERT [dbo].[SANPHAM] ([MaSP], [TenSP], [NgaySX], [HangSX]) VALUES (N'LTHP', N'HP Pavilion 14', CAST(N'2012-02-03 00:00:00.000' AS DateTime), N'HP')
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [HOADON_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [HOADON_SANPHAM]
GO
